@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');

html{
    scroll-behavior: smooth;
    background-color: black;
    margin: 0;
    padding:0;
}

body{
    margin:0;
    padding:0;
}
